@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400;700&display=swap');

* {
  font-family: 'Monda', sans-serif;
}

img {
  pointer-events: none;
}
.sdp {
  border-width: 0 !important;
  padding: 0 !important;
  box-shadow: none !important;
}

.sdp--square-btn__shadowed,
.sdp--square-btn__shadowed:focus:hover {
  box-shadow: none !important;
}

.sdp--square-btn__outlined,
.sdp--square-btn__outlined:focus:hover {
  border: none !important;
}

.sdp--date-btn__selected {
  background-color: #131316 !important;
  box-shadow: none !important; 
  border-radius: 100px !important;
}
